<ul class="nav-menu">
    {{!-- {{#ifgt menu_data.length 0 }}
        {{#each menu_data}}
            {{#ifeq pageUrl ../url}}
                <li><a href="{{ pageUrl }}" class="nav-links active"> {{ name }} </a></li>
            {{else}}
                <li><a href="{{ pageUrl }}" class="nav-links">{{ name }}</a></li>
            {{/ifeq}}  
        {{/each}}
    {{/ifgt}}   --}}
    {{#ifCond menu_data.length ">" 0 }}
        {{#each menu_data}}
            {{#ifCond pageUrl "==" ../url}}
                <li><a href="{{ pageUrl }}" class="nav-links active"> {{ name }} </a></li>
            {{else}}
                <li><a href="{{ pageUrl }}" class="nav-links">{{ name }}</a></li>
            {{/ifCond}}  
        {{/each}}
    {{/ifCond}}  
</ul>